export MYSQL_HOST=127.0.0.1
export MYSQL_PORT=3306
export MYSQL_USER=root
export MYSQL_PASSWORD=rapyd
export MYSQL_TEST_DB=rapyd_test

export MSSQL_HOST=127.0.0.1
export MSSQL_PORT=1433
export MSSQL_USER=sa
export MSSQL_PASSWORD=Rapyd_Pass1!
export MSSQL_TEST_DB=rapyd_test

export MONGO_HOST=127.0.0.1
export MONGO_PORT=27017
export MONGO_USERNAME=rapyd
export MONGO_PASSWORD=rapyd
export MONGO_TEST_DB=rapyd_test
export MONGO_TEST_COLLECTION=salaries

export RUN_INTEGRATION_TESTS=1
